<body style="background: #dddddd">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autofocus: true %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> знаков минимум)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Пароль", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Еще раз",  autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  <div class="helpful-links">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</body>
